@font-face {
  font-family: 'Norse Bold';
  src: url('Norse-Bold.otf') format('opentype');
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  border: 3px solid red;
  display: flex;
}
.left-side{
  border: 3px solid rgb(255, 230, 0);
  background-image: url(../img/background-image.jpg);
  background-size: cover;
  height: 100vh;
  height: 100svh;
  width: 30%;
  position: relative;
}
.right-side{
  border: 3px solid rgb(0, 119, 255);
  width: 70%;
}
.logo-bar{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 125px;
  width: 100%;
  top: 25%;
}