@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf') format('opentype');
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #EAEDF0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.odin-img{
  max-width: 50%;
  max-height: 50%;
}
.left-side{
  background-image: url(background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  margin: 40px 0;
  padding: 50px;
  font-family: "Norse Bold";
  font-size: 3rem;
  color: #EAEDF0;
}
.right-side{
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}
.header-section{
  margin-bottom: 40px;
}
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
