@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf') format('opentype');
  }
/* .norse{
    font-family: "Norse Bold";
    font-size: 4rem;
} */
body, html{
  margin: 0px;
  height: 100%;
} 
.main{
  display: flex;
  height: 100%;
}
.left-side{
  border: 1px solid;
  background-image: url(background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 100%;
  position: relative;
}
.logo{
  position: absolute;
  background-color: black;
  height: 150px;
  width: 100%;
  top: 20%;
}
.right-side{
  border: 1px solid;
  background-color: aqua;
  width: 70%;
  height: 100%;
}