@font-face {
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf') format('opentype');
  }
  body, html{
    margin: 0px;
    height: 100%;
  } 
  .main{
    display: flex;
    height: 100%;
  }
  .left-side{
    border: 1px solid;
    background-image: url(background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 100%;
    position: relative;
  }
  .logo-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: hsla(0, 100%, 0%, 0.5);
    height: 130px;
    width: 100%;
    top: 20%;
  }
  .logo-bar p{
    font-family: "Norse Bold";
    font-size: 5rem;
    color: white;
  }
  .logo{
    display: flex;
    justify-content: right;
    height: 80%;
    width: 130px;
  }
  .right-side{
    border: 1px solid;
    background-color: aqua;
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    height: 100%;
  }
  .header-section{
    border: 1px solid;
  background-color: aquamarine;
  height: 20%;
  }
  .input-section{
    border: 1px solid;
    background-color: tomato;
  height: 40%;
  }
  .create-section{
    border: 1px solid;
  background-color: cadetblue;
  height: 40%;
  }
